<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Extra-Network - Le réseau social extra-terrestre</title>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet"/>
        <script src="{{ asset('js/jquery-3.2.1.js') }}"></script>
 		<script src="{{ asset('js/bootstrap.min.js') }}"></script>
 		{% block stylesheets %}{% endblock %}
    </head>
    <body>
    	{% block body %}{% endblock %}  
        {% block javascripts %}{% endblock %}
    </body>
</html>
